{% if messages %}
    {% for msg in messages %}
        {% if 'checkout' in msg.tags %}
       <div class="alert 
                {% if 'success' in msg.tags %}alert-success          
                {% elif 'warning' in msg.tags %}alert-warning
                {% elif 'info' in msg.tags %}alert-info
                {% else %}alert-danger
                {% endif %}
                alert-dismissible fade show" role="alert">
         <strong>
            {% if 'danger' in msg.tags %}
            Error
            {% else %}
            {{msg.tags|cut:'checkout'|title}}
            {% endif %}
         : </strong>

            {{ msg }}

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>

        </div>
        {% endif %}
    {% endfor %}
{% endif %}